.channalRow{
    margin-right: 50px;
}
.channalRow ,.verified{
    display: flex;
    align-items: center;
}
.avatar{
    width: 70px !important;
    height: 70px !important;
    margin-right: 20px;
}           
